
.homepage_bg{
    background: url("./Asset/Image/bghome.svg");
}
.float {
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}
@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdownFade 0.2s ease-out;
}


body.razorpay-open * {
  pointer-events: none !important;
}

body.razorpay-open .razorpay-container,
body.razorpay-open iframe {
  pointer-events: auto !important;
}
